<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 rescap">

  <Identity
    Name="FlagTip.FlagTip"
    Publisher="CN=16759B5B-6B9A-4593-9F7A-FD503D048B54"
    Version="1.0.30.0" />

  <Properties>
    <DisplayName>FlagTip</DisplayName>
    <PublisherDisplayName>FlagTip</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal"
							MinVersion="10.0.17763.0"
							MaxVersionTested="10.0.26100.0" />
		<TargetDeviceFamily Name="Windows.Desktop"
							MinVersion="10.0.17763.0"
							MaxVersionTested="10.0.26100.0" />
	</Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Windows.FullTrustApplication"
				 >
		
	<Extensions>
		<uap5:Extension Category="windows.startupTask">
			<uap5:StartupTask
			  TaskId="FlagTipStartup"
			  Enabled="true"
			  DisplayName="FlagTip" />
		</uap5:Extension>
    </Extensions>
			
      <uap:VisualElements
        DisplayName="FlagTip"
        Description="플래그팁 어플리케이션"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150.png"
        Square44x44Logo="Assets\Square44.png">
        <uap:DefaultTile Square71x71Logo="Assets\Square71.png" Square310x310Logo="Assets\Square310.png" Wide310x150Logo="Assets\Square310150.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
