# ===== Visual Studio =====
.vs/
**/.vs/
.vs/FlagTip/

# ===== Build output =====
bin/
obj/
**/bin/
**/obj/
packages/

# ===== User / temp =====
*.user
*.suo
*.cache
*.log
*.pdb
*.exe
.vs/FlagTip/copilot-chat/f2803702/sessions/67fd1bcb-4133-4cbf-abbb-1eafde3beedf
.vs/FlagTip/copilot-chat/f2803702/sessions/af899b73-6ccd-4c35-8559-d1ddf12b4a24
.vs/FlagTip/copilot-chat/f2803702/sessions/c0921be7-8e0b-4859-932a-0b674313da3c
.vs/FlagTip/copilot-chat/f2803702/sessions/eda71da3-371c-4592-9847-69f44812a241
.vs/FlagTip/CopilotIndices/18.0.955.22606/CodeChunks.db
.vs/FlagTip/CopilotIndices/18.0.955.22606/CodeChunks.db-shm
.vs/FlagTip/CopilotIndices/18.0.955.22606/CodeChunks.db-wal
.vs/FlagTip/CopilotIndices/18.0.955.22606/SemanticSymbols.db
.vs/FlagTip/CopilotIndices/18.0.955.22606/SemanticSymbols.db-shm
.vs/FlagTip/CopilotIndices/18.0.955.22606/SemanticSymbols.db-wal
.vs/FlagTip/FileContentIndex/61068280-5b3c-4caf-9a61-ec609e30e3df.vsidx
.vs/FlagTip/FileContentIndex/8cef6d94-8753-41ef-86d1-7c558c8c8b7a.vsidx
.vs/FlagTip/FileContentIndex/a04abce4-817d-41cb-aa48-62e95523de9c.vsidx
.vs/FlagTip/FileContentIndex/a307c872-2130-4bda-9872-91244dd56e8b.vsidx
.vs/FlagTip/FileContentIndex/b90f566e-4f69-4462-a2c8-311bfd70d8cb.vsidx
.vs/FlagTip/v17/.suo
.vs/FlagTip/v17/DocumentLayout.backup.json
.vs/FlagTip/v17/DocumentLayout.json
.vs/FlagTip/v18/.suo
.vs/FlagTip/v18/DocumentLayout.backup.json
.vs/FlagTip/v18/DocumentLayout.json
